# Copy this to .env
# Source it to get your credentials setup
#
#     $ source .env


# Sandbox secrets can be found in the terraform state.
#
#     $ cd sandbox
#     $ terraform output
#
export TF_VAR_catalog_db_password=
export TF_VAR_catalog_next_db_password=
export TF_VAR_catalog_next_redis_password=
export TF_VAR_dashboard_db_password=
export TF_VAR_inventory_db_password=
export TF_VAR_inventory_next_db_password=
export TF_VAR_inventory_next_redis_password=
export TF_VAR_wordpress_db_password=


unset AWS_SESSION_TOKEN


# Find these in the AWS console under your user's credentials.
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_MFA_DEVICE_ARN=

export AWS_DEFAULT_REGION=us-east-1
eval "$(./bin/aws_temp_credentials.sh)"
