# Copy this to .env
# Source it to get your credentials setup
#
#     $ source .env

unset AWS_SESSION_TOKEN

export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_MFA_DEVICE_ARN=

eval "$(./bin/aws_temp_credentials.sh)"
